<div class="container">
  <div class="row">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>Apellido:</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>Fecha de Nacimiento:</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>Documento:</label>
      <input type="text" class="form-control" />
    </div>
  </div>

  <button type="button" class="btn btn-primary">Ingresar</button>
</div>

<router-outlet></router-outlet>
